<div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="/">Metro Water Management Board</a></li>
                
              </ul>
            </div>
            <div class="span6">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
                <li><a href="/admin" data-placement="bottom" title="Admin"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="container">


        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <h1><a href="index.html"><i class="icon-tint"></i> M W M B</a></h1>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li class="active">
                      <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                      <a href="#">Public Information <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="/lakelevel">Lake Levels</a></li>
                        <li><a href="/watertank">Water Tank Levels</a></li>
                        <li><a href="/tanker">Water Tanker Availability</a></li>

                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Our services <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="/booktanker">Book Water Tanker</a></li>
                        <li><a href="/booksewage">Book Sewage Tanker</a></li>
                        <li><a href="/newconnection">New Connection</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/events">Events/ Press release</a>
                    </li>
                    <li class="dropdown">
                      <a href="#">Contact Us <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                      </ul>
                    </li>
                    
                   
                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>