<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../components/head%>
</head>

<body>

  <div id="wrapper">
    <!-- start header -->
    <header>
      <% include ../components/header%>
     </header>
    <!-- end header -->

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>About us</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
              <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
              <li class="active">About us</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">

          <div class="span6">
            <h4>About M W M B Inc</h4>
            <p>
              Till about the middle of 19th century Chennai received water from local shallow wells and tanks.Mr.Fraser, a civil engineer forwarded a proposal to the government to tap the Kortalayar river which is situated about 160 km north west of chennai and it was accepted.</p>
            <p>
              The project comprised of a masonry weir across Kortalayar at Tamarapakkam and diverting the water into Cholavaram lake and hence into the Red Hills lake through a channel.
            </p>
            <p>The works were completed in 1870 at a cost of about Rs. 18.50 lakhs.In 1872 a Valve House at Red Hills and an earthen Supply channel to supply water to chennai by gravitation was constructed. At Chennai end, the channel delivered water by gravity into a masonry shaft at Kilpauk from which the cast iron mains of the City branched off and a scientifically designed water supply Distribution System was established.</p>

          </div>

          <div class="span6">
            <iframe src="http://player.vimeo.com/video/24535181?title=0&amp;byline=0" width="500" height="281" seamless></iframe>
          </div>
        </div>

        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline"></div>
          </div>
        </div>
        <!-- end divider -->

        <div class="row team">
          <div class="span12">
            <h4>Nice persons behind Remember</h4>
          </div>

          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team1.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Thiru. S.P. VELUMANI, M.A., M.Phil.,</strong></p>
                <p>
                 Hon'ble Minister for Municipal Administration, Rural Development and
Implementation
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>

              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team2.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Thiru. K. SHANMUGAM, I.A.S.,</strong></p>
                <p>
                 Additional Chief Secretary to Government
Finance Department,
Chennai 600 009.
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team3.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Thiru. HARMANDER SINGH, I.A.S.,</strong></p>
                <p>
                  Principal Secretary to Government
M.A. & W.S Department
Secretariat
Chennai 600 009.
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team4.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Thiru. RAJESH LAKHONI, I.A.S.,</strong></p>
                <p>
                  Principal Secretary / Member Secretary,
C.M.D.A.,
Chennai-600 008
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <footer>
     <% include ../components/footer%>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript
    ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
  <script src="/public/assets/js/jquery.js"></script>
  <script src="/public/assets/js/jquery.easing.1.3.js"></script>
  <script src="/public/assets/js/bootstrap.js"></script>
  <script src="/public/assets/js/modernizr.custom.js"></script>
  <script src="/public/assets/js/toucheffects.js"></script>
  <script src="/public/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/public/assets/js/jquery.prettyPhoto.js"></script>
  <script src="/public/assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="/public/assets/js/portfolio/setting.js"></script>
  <script src="/public/assets/js/animate.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="/public/assets/js/custom.js"></script>

</body>

</html>
