<html>

<head>
 <% include ../components/head %>
</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>
      <% include ../components/header %>
    </header>
    <!-- end header -->

    <!-- section intro -->
    <section id="intro">
      <div class="intro-content">
        <h2> Metro Water Management Board </h2>
        <h3>Let us work together to save every drop of water</h3>
        <div>
          <a href="#content" class="btn-get-started scrollto">Know Us</a>
        </div>
      </div>
    </section>
    <!-- /section intro -->

    <section id="content">
      <div class="container">


        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-info badge-circled">1</span>
                    <i class="ico icon-dropbox icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Check status</strong></h4>
                    <p>
                      Check the water availability in your area by monitoring the lakes and others.
                    </p>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-success badge-circled">2</span>
                    <i class="ico icon-bitbucket icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Give Feedback</strong></h4>
                    <p>
                      We are ready to hear your queries so that we can improvise daily.
                    </p>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-warning badge-circled">3</span>
                    <i class="ico icon-rocket icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Faster Services</strong></h4>
                    <p>
                      Book your water tnaker and sewage tanker according to the availability.
                    </p>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="icon">
                    <span class="badge badge-important badge-circled">4</span>
                    <i class="ico icon-cut icon-5x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>Cut your time</strong></h4>
                    <p>
                      cut your time to order and manage new connection of water services with our new portal.
                    </p>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="span12">
            <div class="cta-box">
              <div class="row">
                <div class="span8">
                  <div class="cta-text">
                    <h2>In case of any <span>Emergency</span> times</h2>
                  </div>
                </div>
                <div class="span4">
                  <div class="cta-btn">
                    <a href="#" class="btn btn-color">Call Action <i class="icon-caret-right"></i></a>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="offer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span12">
                <div class="aligncenter">
                  <h3>Our Upcoming projects</h3>
                  <blockquote>
                   As a drought proofing measure and to augment supply of water to the Southern parts of Chennai City, CMWSS Board has set up a 100MLD capacity Seawater Desalination Plant on Engineering, Procurement and Contract (EPC) basis.

The Government of Tamil Nadu accorded Administrative Approval for the work of "Construction of 100 MLD SWRO Desalination plant at Nemmeli" at a cost of Rs.914.42 Crore with GOI grant of Rs.871.24 Crore and Rs.43.18 Crore from Go TN for this project
                  </blockquote>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="span3">
                <h5>S W R O</h5>
                <p>
                  We are happy to announce the upcoming desalination plant to be opened by the marina at a cost of 3 Cr.
                </p>
                <p>
                  We will be happy to receive any kind of help from you to help us out.
                </p>
              </div>

              <div class="span3">
                <div class="pricing-box-plain">
                  <div class="heading">
                    <h4>Once</h4>
                    <span>$9</span>
                  </div>
                  <div class="desc">
                    <ul>
                      
                      <li>The honor of donation</li>
                      <li>Help the needed</li>
                    </ul>
                  </div>
                  <div class="action">
                    <a href="#" class="btn btn-inverse">Donate</a>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div class="pricing-box-plain">
                  <div class="heading">
                    <h4>Monthly</h4>
                    <span>$29 / Month</span>
                  </div>
                  <div class="desc">
                    <ul>
                    
                      <li>The honor of donation</li>
                      <li>Help the needed</li>
                    </ul>
                  </div>
                  <div class="action">
                    <a href="#" class="btn btn-inverse">Donate</a>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div class="pricing-box-plain">
                  <div class="heading">
                    <h4>Yearly</h4>
                    <span>$59 / year</span>
                  </div>
                  <div class="desc">
                    <ul>
                      
                       <li>The honor of donation</li>
                      <li>Help the needed</li>
                    </ul>
                  </div>
                  <div class="action">
                    <a href="#" class="btn btn-color">Donate</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section id="works">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h3>Recent works</h3>
            <div class="row">

              <div class="grid cs-style-3">
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img style="height:200px" src="/public/assets/img/dummies/works/1.jpg" alt=""></div>
                      <figcaption>
                        <h3>Area 8 Sucker</h3>
                        <p>
                          <a href="/public/assets/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-zoom-in icon-circled icon-bglight icon-2x active"></i></a>
                          <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x active"></i></a>
                        </p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img style="height:200px" src="/public/assets/img/dummies/works/2.jpg" alt=""></div>
                      <figcaption>
                        <h3>Area 8 Clearing</h3>
                        <p>
                          <a href="/public/assets/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-zoom-in icon-circled icon-bglight icon-2x active"></i></a>
                          <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x active"></i></a>
                        </p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img style="height:200px" src="/public/assets/img/dummies/works/3.jpg" alt=""></div>
                      <figcaption>
                        <h3>Area 9 Rodding</h3>
                        <p>
                          <a href="/public/assets/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-zoom-in icon-circled icon-bglight icon-2x active"></i></a>
                          <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x active"></i></a>
                        </p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img style="height:200px" src="/public/assets/img/dummies/works/4.jpg" alt=""></div>
                      <figcaption>
                        <h3>Area 8 Rodding</h3>
                        <p>
                          <a href="/public/assets/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-zoom-in icon-circled icon-bglight icon-2x active"></i></a>
                          <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x active"></i></a>
                        </p>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <% include ../components/footer %>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/public/assets/js/jquery.js"></script>
  <script src="/public/assets/js/jquery.easing.1.3.js"></script>
  <script src="/public/assets/js/bootstrap.js"></script>
  <script src="/public/assets/js/modernizr.custom.js"></script>
  <script src="/public/assets/js/toucheffects.js"></script>
  <script src="/public/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/public/assets/js/jquery.prettyPhoto.js"></script>
  <script src="/public/assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="/public/assets/js/portfolio/setting.js"></script>
  <script src="/public/assets/js/animate.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="/public/assets/js/custom.js"></script>
  <%if(status){%>
    <script>window.alert("sucess..")</script>
  <%}%>
</body>

</html>
