<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../components/head %>
</head>

<body>

  <div id="wrapper">
    <!-- start header -->
    <header>
     <% include ../components/header %>
    </header>
    <!-- end header -->

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Apply for new Connection</h2>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Registration Form</h2>
                        <p>Please fill the form carefully with the correct details and upload necessary documents</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Please fill with your details</h4>
                <form method='post' action='/newconnection' id="nuser">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input id="Full Name" name="name" placeholder="Full Name" class="form-control" type="text" style="height:40px;width:100%">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="email" name='email' class="form-control" id="inputEmail4" placeholder="Email...." style="height:40px;width:100%">
                        </div>
                      </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input id="Mobile No." name="mobile" placeholder="Mobile No." class="form-control" required="required" type="text" style="height:40px;width:100%">
                        </div>
                        <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload any proof for the address </span>
  </div>
  <div class="custom-file" >
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    
  </div><br>
</div>
                        <div class="form-group col-md-6" style="height:40px;width:100%" name='category' form='nuser'>
                                  
                                  <select id="inputState" class="form-control" name='category'>
                                    <option selected>Choose category...</option>
                                    <option> Household</option>
                                    <option> office</option>
                                  </select>
                        </div>
                        <div class="form-group col-md-12" name='address' form='nuser'>
                                  <textarea id="comment" name="address" cols="40" rows="5" class="form-control" placeholder="Enter your address here..."></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                  <label class="form-check-label" for="invalidCheck2">
                                    <small>By clicking Submit, you agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</small>
                                  </label>
                                </div>
                              </div>
                    
                          </div>
                    </div>
                    
                    <div class="form-row">
                        
                    </div>
                    <input type="submit" name="submit" value="submit" class="btn btn-danger">
                    
                </form>
            </div>
        </div>
    </div>
</section>

  	
    <footer>
      <% include ../components/footer %>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/public/assets/js/jquery.js"></script>
  <script src="/public/assets/js/jquery.easing.1.3.js"></script>
  <script src="/public/assets/js/bootstrap.js"></script>
  <script src="/public/assets/js/modernizr.custom.js"></script>
  <script src="/public/assets/js/toucheffects.js"></script>
  <script src="/public/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/public/assets/js/jquery.prettyPhoto.js"></script>
  <script src="/public/assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="/public/assets/js/portfolio/setting.js"></script>
  <script src="/public/assets/js/animate.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="/public/assets/js/custom.js"></script>
  <script>  
 
  </script>

</body>

</html>
